* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #0BA0E0;
    --fg: #222;
    --card: #ffffff;
    --muted: #e0e0e0;
    --accent: #e0e0e1;
    --accent-6: #FA0003;
    --wordgrid: skyblue;
    --mainClr: linear-gradient(to left,
            hsl(239, 52%, 30%) 0%,
            hsl(219, 100%, 32%) 8%,
            hsl(187, 100%, 32%) 92%,
            hsl(244, 61%, 25%) 100%);
    --accent2: #14F10D;
    --accent3: #030502;
    --accent4: #C00CE1;
    --accent5: #11648E;
    --blackfade: rgba(0, 0, 0, 0.5);
    --accent6: #8e7711;
    --danger: #e57373;
    --success: #66bb6a;
    --warning: #ffb74d;
    --modal-card: #0A76A7;
    --bs: 0 12px 40px rgba(255, 120, 140, 0.15), 0 6px 18px rgba(0, 0, 0, 0.45);
    --btn-main: linear-gradient(135deg, #ce3d5a, #ff9472);
    --bs-wrapper: box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    --lvlcomplete: linear-gradient(180deg, #ce2b4c, #f37a55);

}

:root {
    --cell: clamp(40px, 4.5vw, 44px);
}

/* Mobile scaling: cell size smoothly scales with viewport */
@media (max-width: 900px) {
    :root {
        --cell: clamp(40px, 30vw, 38px);
    }
}

@font-face {
    font-family: 'waytoon';
    src: url('../fonts/waytoon/Waytoon.otf') format('woff2'),
        url('../fonts/waytoon/Waytoon.ttf') format('woff');
    font-weight: 100;
    font-style: normal;

    font-family: 'alphakind';
    src: url('../fonts/alphakind/Alphakind.otf') format('woff2'),
        url('../fonts/alphakind/Alphakind.ttf') format('woff');
    font-weight: 100;
    font-style: normal;
}



body {
    margin: 0;
    background: var(--bg);
    color: #e7e7ea;
    height: 100vh;
    font-family: sans-serif;
}

.mode-pause-game-container {
    position: fixed;
    background: var(--blackfade);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mode-pause-game-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
    background: var(--bg);
    padding: 20px;
    border-radius: 25px;
    box-shadow: var(--bs-wrapper);
    z-index: 1000;
}


@media (max-width: 550px) {
    .mode-pause-game-menu {
        width: 80%;
    }

    h1 {
        font-size: 1.5em;
    }
}

.mode-start-game-container {
    position: fixed;
    background: var(--blackfade);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mode-start-game-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
    background: var(--bg);
    padding: 20px;
    border-radius: 25px;
    box-shadow: var(--bs-wrapper);
}

.open {
    display: flex;

}

.close {
    display: none;
}

@media (max-width: 550px) {
    .mode-start-game-menu {
        width: 80%;
    }

    h1 {
        font-size: 1.5em;
    }
}


h1,
h2 {
    margin: 0 0 10px;
    font-family: 'alphakind';
}

.mode-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

#hud {
    display: flex;
    justify-content: space-between;
    top: 0;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    background: var(--mainClr);
    padding: 20px;
    overflow: hidden;
}

.badge {
    padding: 4px 10px;
}

#grid {
    display: grid;
    gap: 1px;
    user-select: none;
    touch-action: none;
    background-color: var(--blackfade);
    border: 2px solid black;
    padding: 8px;
    border-radius: 14px;
}

.cell {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a3050;
    border-radius: 6px;
    letter-spacing: .5px;
    background: rgba(9, 35, 48, 0.164);
    font-weight: 800;
    border: 1px solid rgb(0, 30, 49);
}



.cell.sel {
    outline: 2px solid #6ea8ff
}

.cell.found {
    background: #234123;
    border-color: #3a7a3a;
    color: #b6f0b6
}

.wordList-container {
    max-width: 1000;
    width: 100%;

}

#wordList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    background-color: var(--blackfade);
    width: 100%;
    max-height: 200px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 700;

}

.word {
    padding: 4px 8px;
}

.word.found {
    opacity: .4;
    text-decoration: line-through
}

span {
    font-family: 'alphakind';
}

button {
    background: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
    width: 150px;
    -webkit-background-clip: padding-box;
    margin: 15px;
}

button:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer;
}

button:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    transform: translateY(4px);
}

button:disabled {
    opacity: .6;
    cursor: not-allowed
}


#msg {
    min-height: 22px;
    opacity: .9
}

.small {
    font-size: 1rem;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
}

.hidden-char {
    color: transparent
}

.fog {
    filter: blur(4px)
}

#footer {
    background: var(--mainClr);
    height: 30px;
    margin: 0;
}

.cell.highlighting {
    background-color: rgba(0, 120, 255, 0.4);
    /* Blue while dragging */
}

.cell.found {
    background-color: rgba(0, 200, 0, 0.5);
    /* Green if word found */
}

.cell.wrong {
    background-color: rgba(255, 0, 0, 0.5);
    /* Red flash if wrong */
    transition: background-color 0.3s;
}

@media (max-width: 400px){
    #pause {
        width: 100px;
    }
}